<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>

  <tbody>
    <% @books.each do |book| %>
      <tr>
            <td>
              <%= link_to image_tag(book.cover), book %>
              </td>
            </tr>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td>Number of chapters:<%= book.number_of_chapters %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>